{% load i18n %}


	<!-- footer-area-start -->
	<footer class="m-t-50">
            
            <!-- footer-bottom-area-start -->
            <div class="footer-bottom-area ptb-30" style="background: #ddd">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
                            <!-- single-footer-area-start -->
                            <div class="copy-right">
                                <p>© 2017 <a href="#">Saree Shop</a>- All Rights Reserved</p>
                            </div>
                            <!-- single-footer-area-end -->
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                            <!-- single-footer-area-start -->
                            <div class="footer-bottom-menu text-right">
                                <nav>
                                    <ul>
                                        <li><a href="#">Privacy & Cookies</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Accessibility</a></li>
                                        <li><a href="#">Store </a></li>
                                        <li><a href="#">About Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- single-footer-area-end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom-area-end -->
        </footer>
        <!-- footer-area-end -->
        
        