{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<!-- here is minie -->

<!-- mean-menu-area-start -->
<div class="mean-menu-area hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mean-menu text-center">
                        <nav>
                            <ul>
                                
                                <li><a href="{% url 'catalogue:index' %}">All Products</a></li>
                                {% category_tree depth=2 as tree_categories %}
                                
                                {% if tree_categories %}
                                    {% for tree_category, info in tree_categories %}
                                        {% if info.has_children  %}
                                            <li><a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}<i class="fa fa-angle-down"></i></a>
                                                <ul class="sub-menu text-left">
                                        {% else %}
                                            <li><a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                                        {% endif %}

                                        {% for close in info.num_to_close %}
                                            </ul></li>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                <!-- <li><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="shop-full-width.html">Shop Full width</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    </ul>
                                </li>
                                 -->
                         
                                 {% block nav_dropdown_extra_items %}
                                 <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
                                {% endblock %}
                                <!-- <li><a href="contact.html">Contact</a></li> -->
                                {% block nav_extra %}
                                {% endblock %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
 </div>
    <!-- mean-menu-area-end -->


