<!-- mean-menu-area-start -->
<div class="mean-menu-area hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mean-menu text-center">
                        <nav>
                            <ul>
                                
                                <li><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="shop-full-width.html">Shop Full width</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    </ul>
                                </li>
                                
                                
                                <li><a href="#">Pages<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="#">Portfolio<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu2 text-left">
                                                <li><a href="portfolio-2.html">Portfolio 2 columns</a></li>
                                                <li><a href="portfolio-3.html">Portfolio 3 columns</a></li>
                                                <li><a href="portfolio-4.html">Portfolio 4 columns</a></li>
                                                <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="variations-product.html">product details</a></li>
                                        <li><a href="team-testimonials.html">team member</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="faq.html">FAQ Page</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="static"><a href="#">Elements<i class="fa fa-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li>
                                            <a href="#"><img src="img/menu-img/1.jpg" alt="Product Page" /></a>
                                            <a href="#" class="title">Product Page</a>
                                            <a href="product-columns.html">Product Columns</a>
                                            <a href="products-layout.html">Products Layout<span>sale</span></a>
                                            <a href="product-left-sidebar.html">Product Left Sidebar</a>
                                            <a href="product-right-sidebar.html">Product Right Sidebar</a>
                                            <a href="product-full-width.html">Product Full width</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/menu-img/2.jpg" alt="Product Elements" /></a>
                                            <a href="#" class="title">Product Elements</a>
                                            <a href="product-deal.html">Product Deal</a>
                                            <a href="products-by-category.html">Products – By Category</a>
                                            <a href="variations-product.html">Variations product</a>
                                            <a href="variations-product.html">Product featured video<span class="color">new</span></a>
                                            <a href="variations-product.html">Product image zoom</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/menu-img/3.jpg" alt="Product Elements" /></a>
                                            <a href="#" class="title">Product Elements</a>
                                            <a href="products-best-selling.html">Products – Best Selling</a>
                                            <a href="products-featured.html">Featured – Hover push<span class="color">new</span></a>
                                            <a href="products-top-rate.html">Top Rate – Hover flip<span class="color2">hot</span></a>
                                            <a href="products-recent.html">Products – Recent</a>
                                            <a href="products-on-sale.html">Products – On Sale</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/menu-img/4.jpg" alt="Theme Elements" /></a>
                                            <a href="#" class="title">Theme Elements</a>
                                            <a href="accordion-tabs.html">Accordion / Tabs</a>
                                            <a href="google-maps.html">Google Maps</a>
                                            <a href="columns.html">Columns</a>
                                            <a href="team-testimonials.html">Team & Testimonials</a>
                                            <a href="lee-banners.html">Lee Banners<span class="color3">hot</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="blog-grid.html">Blog grid</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-full-width.html">Blog FullWidth</a></li>
                                        <li><a href="blog-list-style.html">Blog List Style</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mean-menu-area-end -->